@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202023;
  background-image: url('../src/assets/sunset.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
  height: 100vh;
  width: 100%;
  flex: 1;
  color: #fff;
  line-height: 1.6;
}

.main-container {
  height: 100%;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  flex: 1;
  min-width: 1200px;
}

.main-title-searchicon-container {
  width: 100%;
  align-items: center;
  display: flex;
}

.title-search-container {
  display: inline-flex;
  width: 100%;
}

.weather-title-container {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
}

.weather-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

.search-icon-container {
  flex: 1;
}

.searchIcon {
  display: flex;
  justify-content: flex-end;
}

/* .search {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
  height: 46px;
  width: 46px;
} */

.navbarButton:hover {
  background-color: #202023;
}

.location-time-date-container {
  flex: 1;
  top: 65%;
  display: flex;
  position: absolute;
  width: 100%;
  margin-left: 50px;
}

.temp-location-date-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.temp-container {
  flex-basis: 180px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.temp {
  width: 100%;
  flex: 1 1;
}

.temperature {
  font-size: 120px;
  display: flex;
  justify-content: center;
}

.weather-container {
  flex-basis: 100px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.weather-icon {
  display: flex;
  justify-content: center;
}

.weather-label-container {
  padding: 0 5px;
}

.weather-label {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

.weatherIcon {
  font-size: 70px;
}

.locationTimeDate-container {
  flex-basis: 400px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.location-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  flex: 1;
}

.location {
  display: flex;
  justify-content: start;
}

.timeDate-Container {
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 100%;
}

.time-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.time {
  display: flex;
  justify-content: flex-end;
}

.date-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  flex: 1;
}

.date {
  display: flex;
  justify-content: flex-start;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}

.navbarButton {
  height: 80px;
  display: flex;
  padding: 20px;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-menu {
  background-color: rgb(0, 0, 0, 0.5);
  width: 85vh;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 350ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px 16px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text span {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.nav-menu-items {
  width: 80%;
  padding: 20px 85px 0 85px;
}

.navbar-toggle {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-input-searchIcon {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-input {
  width: 100%;
  display: flex;
  padding: 0px 16px;
}

.nav-search {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-searchbutton {
  display: flex;
  height: 80px;
  width: 20%;
  justify-content: end;
  align-items: center;
}

.inputfield {
  width: 100%;
  line-height: 35px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: white;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
}

span {
  margin-right: 16px;
}
